@import url("https://fonts.googleapis.com/css2?family=Yaldevi&display=swap");
.carrito__search-box__btn-search:focus ~ .carrito__search-box__input-search, .carrito__search-box__input-search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2); }

input:focus, textArea:focus {
  outline: none !important;
  border-color: #b4243c;
  box-shadow: 0 0 10px #b4243c; }

.fotosIndex img:hover {
  transition-duration: 0.4s;
  cursor: pointer;
  color: #b4243c;
  background-color: #b4243c;
  box-shadow: 0 0 10px #b4243c;
  transform: scale(1.01, 1.01);
  z-index: 9;
  /*aca use maps en bodrder color*/
  border-color: #b4243c; }

.gal-item {
  overflow: hidden;
  padding: 8px; }

.gal-item .box {
  height: 100%;
  overflow: hidden; }

.box img {
  height: 100%;
  width: auto;
  object-fit: cover; }

@media only screen and (max-width: 500px) {
  #footerMediaQ {
    display: none; }
  .cartSize {
    font-size: 12px;
    margin-top: 7px; }
  .navbar {
    display: block;
    visibility: visible; }
  .navBarraIconos {
    display: flex;
    justify-content: space-evenly; }
  .centradoNavbar {
    position: relative;
    right: 15px; }
  .bottom-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
    margin: 0.2rem; }
  .botonResponsive {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
  .hide {
    display: none; } }

@media only screen and (max-width: 767px) {
  .botonResponsive {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
  #footerMediaQ {
    display: none; }
  .navbar {
    display: block;
    visibility: visible; }
  .navBarraIconos {
    display: flex;
    justify-content: space-evenly; }
  .centradoNavbar {
    position: relative;
    right: 15px; }
  .bottom-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
    margin: 0.2rem; }
  .botonResponsive {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
  .hide {
    display: none; } }

@media screen and (max-width: 900px) {
  img {
    width: 75%;
    display: inline-block; } }

@media (min-width: 1025px) {
  .h-custom-2 {
    height: 100%; } }

/*npm run watch-css*/
* {
  font-family: 'Yaldevi', sans-serif;
  font-weight: bold;
  text-decoration: none;
  list-style: none;
  margin: 0px;
  box-sizing: border-box; }

.navbar {
  display: none;
  visibility: hidden; }

header {
  position: relative;
  color: #b4243c; }

.logo {
  position: relative;
  top: 2px;
  left: 2px;
  margin: 0%;
  padding: 0%;
  color: black; }

section ul li {
  display: inline;
  right: 0%;
  color: black; }

.navBarraIconos {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  padding: 0%;
  list-style: none;
  color: black;
  background-color: black; }

.header {
  position: sticky; }

.centrado {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 5px; }

.carrito {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin: 0 0.063rem;
  padding: 0.938rem; }
  .carrito__search-box {
    width: fit-content;
    height: fit-content;
    position: relative; }
    .carrito__search-box__input-search {
      height: 50px;
      width: 50px;
      border-style: none;
      padding: 10px;
      font-size: 18px;
      letter-spacing: 2px;
      outline: none;
      border-radius: 25px;
      transition: all .5s ease-in-out;
      background-color: black;
      padding-right: 40px;
      color: black; }
    .carrito__search-box__btn-search {
      width: 50px;
      height: 50px;
      border-style: none;
      font-size: 20px;
      font-weight: bold;
      outline: none;
      cursor: pointer;
      border-radius: 50%;
      position: absolute;
      right: 0px;
      color: #ffffff;
      background-color: transparent;
      pointer-events: painted; }
    .carrito__search-box__input-search::placeholder {
      color: black;
      font-size: 18px;
      letter-spacing: 2px;
      font-weight: 100; }

.listaMenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2%;
  list-style: none;
  color: black;
  word-spacing: 300px;
  text-decoration: none; }

.bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%; }

.bottom-left {
  margin: 0.2rem; }

.fotosIndex {
  margin: 2rem; }

.galeriaMain {
  margin-bottom: 150px;
  row-gap: 70px; }

/*aca use maps en bodrder color*/
.carousel-control-next, .carousel-control-prev {
  top: 350px; }

.fotosIndex img {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  align-items: center;
  height: 100%;
  margin-bottom: -5px;
  transition: all 0.3s ease-out;
  position: relative;
  z-index: 2; }

ul ul {
  display: none;
  position: absolute;
  width: 100%;
  top: 1rem;
  left: 0.5rem;
  color: black; }

ul li a {
  text-decoration: none; }

ul ul li {
  display: list-item;
  color: black;
  margin: 1px;
  width: 100px; }

ul li:hover ul {
  display: none;
  color: black; }

ul li input {
  position: relative;
  left: 40%;
  right: 40%; }

main h3 {
  display: inline-block;
  text-align: center;
  text-decoration: none; }

a {
  color: black; }

a:hover {
  color: #b4243c; }

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0px;
  list-style: none; }

.galeria {
  color: white; }

footer {
  word-spacing: 0.5 rem;
  background-color: black;
  color: white;
  margin-top: 3rem;
  padding: auto; }

nav a {
  color: white; }

footer a {
  color: white; }

main section div {
  margin: auto; }

main section div img {
  height: auto; }
