
@import url('https://fonts.googleapis.com/css2?family=Yaldevi&display=swap');
@import "./base/_variables.scss";
@import "./base/_extend.scss";
@import "./base/_contact.scss";
@import "./base/_mediaquery.scss";
@import "./base/_help.scss";
@import "./base/_index.scss";
@import "./base/_footer.scss";
@import "./base/_header.scss";



/*npm run watch-css*/



/* main.scss posee codigo que de alguna forma afecta a todos los html*/
*{
    font-family: 'Yaldevi', sans-serif;
    font-weight: bold;
    text-decoration: none;
    list-style: none;
    margin: 0px;
    box-sizing: border-box;
}







.galeriaMain{
    row-gap: 70px;
}
.bottom-left{
    margin: 0.5rem;
}

.fotosIndex img:hover{
    @extend %gridGalery;
}
.fotosIndex img{
    justify-content: space-around;
    @include flex(center);
    align-content: center;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    align-items: center; 
    height: 90%;
	transition: all 0.5s ease-out;
	position: relative;
	z-index: 2;
    
}
ul ul {
    display: none;
    position: absolute;
    width: 100%;
    top: 1rem;
    left: 0.5rem;
    color: black;
}ul li a{
    text-decoration: none;
}
ul ul li{
    display:list-item;
    color: black;
    margin: 1px;
    width: 100px;
}
ul li:hover ul{
    display:none;
    color: black;
}
ul li input{
    position: relative;
    left:40%;
    right: 40%
}
main h3{
    display: inline-block;
    text-align: center;
    text-decoration: none;
}
a {
    color: black;
}
a:hover {
    color: $color-principal; 
}
.form{
    @include flex(space-around);
    margin: 0px;
    list-style: none;
}

nav a{
    color: white;
}
main section div{
    margin: auto;
}

