





.titulo{
    font-size: 3rem;
}

.navbar-toggler {
    &:focus {
    outline: none;
    }
}

nav{
    display: flex;
    justify-content: left;
}

.navbar-light .navbar-toggler {
    &:focus {
        outline: none;
        border-color: white; 
        outline: white;
        }
    
    border-color: white; 
    outline: white;
}


section ul li{
    display: inline;
    right: 0%;
    color: black;
}
.navBarraIconos{
    @include flex(right);
    padding: 0%;    
    list-style: none;
    color: black;
    background-color:black
}

.listaMenu{
    @include flex(space-around);
    list-style: none;
    color: black;
    text-decoration: none;
    
}


