.carousel .carousel-item {
    max-height:550px;
}
.carousel-item img {
    object-fit:cover;
    max-height:550px;
}

.listaMid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-right: 20px;
}
