@media only screen and (max-width:  321px) {
    .listaMid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-right: 20px;
    margin: 2rem;
    }
    .listaMid{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-right: 20px;
        margin: 2rem;
    }
}
@media only screen and (max-width:  375px) {
    .logo{
        display: flex;
        flex-wrap: wrap;
        justify-content:start;
        margin:0.6rem;
        
    }
    header div a img{
        
        height: 35px;
        
    }
    #her{
        font-size: 22px;
        text-align: center;
    }
    .listaMid{
        margin: 3rem;
    }
    h1{
        font-size: 22px;
    }
}

@media only screen and (max-width: 640px) {
    #footerMediaQ{
        display:none;
    }
    #her{
        font-size: 22px;
        text-align: center;
    }
    
    .titulo{
        font-size: 25px;
    }
    .cartSize{
        font-size: 12px;
        margin-top: 7px;
    }
    .navbar{
        display:block;
        visibility: visible;
        
    }
    .bottom-left{
        @include flex(start);
        margin: 5px;
        margin: 0.2rem;
    }
    .botonResponsive{
        @include flex(center);
        align-items: center;
    }
    .hide{
        display: none;
    }
    .centrado{
        text-align: center;
    }
    .table{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .pt-5 {
        padding-top: 1rem !important;
    }
    .fotosIndex img{
        height: 85%;
    }
    .table{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    div a img{
        height: 50px;
    }
    
    h1{
        font-size: 22px;
    }
    
}


@media screen and (min-width:641px) {
    .boostNav {
        display: none;
        visibility: hidden;
    }
}