

@media only screen and (max-width: 500px) {

    #footerMediaQ{
        display:none;
    }
    .cartSize{
        font-size: 12px;
        margin-top: 7px;
    }
    .navbar{
        display:block;
        visibility: visible;
        
    }
    .navBarraIconos{
        display: flex;
        justify-content: space-evenly;
    }
    .centradoNavbar{
        position: relative;
        right: 15px;
    }
    
    .bottom-left{
        @include flex(center);
        margin: 5px;
        margin: 0.2rem;
    }
    .botonResponsive{
        @include flex(center);
        align-items: center;
    }
    .hide{
        display: none;
    }
    .centrado{
        text-align: center;
    }
    .hide{
        display: grid;
    }
    
}

@media only screen and (max-width: 767px) {
    
    .botonResponsive{
        @include flex(center);
        align-items: center;
    }   
    #footerMediaQ{
        display:none;
    }
    .navbar{
        display:block;
        visibility:visible;
    }
    .navBarraIconos{
        display: flex;
        justify-content: space-evenly;
    }
    .centradoNavbar{
        position: relative;
        right: 15px;
    }
    
    .bottom-left{
        @include flex(center);
        margin: 5px;
        margin: 0.2rem;
    }
    .botonResponsive{
        @include flex(center);
        align-items: center;
    }
    .hide{
        display: none;
    }
    .centrado{
        text-align: center;
    }
    .navButton{
        position: relative;
        right: 292px;
    }
}

@media screen and (max-width:900px) {
    
    img {
        width: 75%;
        display: inline-block;
    }
}


@media (min-width: 1025px) {
    .h-custom-2 {
    height: 100%;
    }
}

@media screen and (min-device-width: 1200px) {

    .boostNav {
        display: none;
        visibility: hidden;
    }
}
@media screen and (min-device-width: 1470px) {

    .boostNav {
        display: none;
        visibility: hidden;
    }
}